<div class="container">
  <div class="row">


     <div class="col-md-3">
      <%= render 'layouts/user_info', user: @user%>
            <% if @user.id == current_user.id %>
                <%= link_to edit_user_path(current_user.id),class: "btn btn-secondary" ,method: :get  do %>
                    <i class="fas fa-user-cog"></i>
                <%end%>
            <%end%>
      <%= render 'layouts/create_book', book: @book%>
     </div>


    <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
    <table class="table table-inverse">

<thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @users.each do |user| %>

        <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size:"40x40" %></td>
            <td><p><%= user.name%></p></td>
            <td><%=link_to "Show",user_path(user.id)%></td>
        </tr>
    <% end %>
    </table>
    </div>


  </div>
</div>